# 1. pykrx 설치하기

In [1]:
# !pip install pykrx

# 2. import

In [2]:
from pykrx import stock
import pandas as pd

# 3. 종목코드조회

* date   (str, optional): 조회 일자 (YYYYMMDD)
* market (str, optional): 조회 시장 (KOSPI/KOSDAQ/KONEX/ALL)

In [9]:
# KOSPI/KOSDAQ/KONEX 종목코드 조회
stock_code = stock.get_market_ticker_list(date="20210831", market="ALL")
print(f'sample:  {stock_code[:3]}, len:  {len(stock_code)}')

sample:  ['060310', '095570', '006840'], len:  2579

In [10]:
# KOSPI 종목코드만 조회
stock_code = stock.get_market_ticker_list(date="20210520", market="KOSPI")  ## market 옵션에 KOSPI
print(f'sample:  {stock_code[:3]}, len:  {len(stock_code)}')

sample:  ['095570', '006840', '027410'], len:  923

# 4. open,  high, low, close, volume 조회하기

In [11]:
# 삼성전자의 20210501~20210520의 주가데이터
df = stock.get_market_ohlcv_by_date(fromdate="20210801", todate="20210831", ticker="005930")
df

               시가     고가     저가     종가       거래량
날짜
2021-08-02  79200  79500  78700  79300  11739124
2021-08-03  79400  81400  79300  81400  24339360
2021-08-04  82200  83100  81800  82900  25642368
2021-08-05  83300  83300  82000  82100  18485469
2021-08-06  81900  82500  81300  81500  13342623
2021-08-09  81500  82300  80900  81500  15522581
2021-08-10  82300  82400  80100  80200  20362639
2021-08-11  79600  79800  78500  78500  30241137
2021-08-12  77100  78200  76900  77000  42365223
2021-08-13  75800  76000  74100  74400  61270643
2021-08-17  74000  75100  74000  74200  30944847
2021-08-18  73900  74600  73100  73900  29192631
2021-08-19  73500  74400  73100  73100  22166298
2021-08-20  73500  73900  72500  72700  22364803
2021-08-23  73300  74000  73000  73300  19384648
2021-08-24  73900  75700  73900  75600  21016913
2021-08-25  76200  76600  74900  75700  22319664
2021-08-26  76100  76200  74600  74600  16671494
2021-08-27  74300  75000  73800  74300  15172748
2021-08-30  75400  75500  74200  74600  12686999
2021-08-31  74900  76700  74300  76700  21841641

In [13]:
## 날짜기준 ticker 전체 내역 조회
stock.get_market_ohlcv_by_ticker('20210831',market='KOSPI')

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    5930    5930    5810    5910    43610    255489560 -0.17
006840   27450   27700   27150   27500    37746   1036582500  0.73
027410    6360    6410    6300    6330   152053    962598470 -0.47
282330  180500  183000  174000  178500    40176   7138560000 -1.38
138930    7710    7800    7640    7760  1181539   9123273270  0.26
...        ...     ...     ...     ...      ...          ...   ...
069260   26650   27100   25950   26750  1509250  40027561100 -0.37
000540    3920    3975    3885    3945    30514    120101200  0.00
000547   27800   28150   27500   27500     1789     49688800 -1.79
000545   10150   10150    9800    9800     6116     60212240 -2.49
003280       0       0       0    1035        0            0  0.00

[935 rows x 7 columns]

# 4.1 종목명 붙이기

In [14]:
import time

In [17]:
stock_code = stock.get_market_ticker_list() # 현재일자 기준 가장 가까운 영업일의 코스피 상장종목 리스트
# stock_code

In [22]:
final = pd.DataFrame()
for ticker in stock_code:
    df = stock.get_market_ohlcv_by_date(fromdate="20210830", todate="20210831", ticker=ticker)
    df = df.assign(종목코드=ticker, 종목명=stock.get_market_ticker_name(ticker))
    final = pd.concat([final, df], axis=0)
    time.sleep(0.2)
    print(f'{stock.get_market_ticker_name(ticker)} 완료')
final = final.reset_index()
final

AJ네트웍스 완료
AK홀딩스 완료
BGF 완료
BGF리테일 완료
BNK금융지주 완료
BYC 완료
BYC우 완료
CJ 완료
CJ CGV 완료
CJ4우(전환) 완료
CJ대한통운 완료
CJ씨푸드 완료
CJ씨푸드1우 완료
CJ우 완료
CJ제일제당 완료
CJ제일제당 우 완료
CS홀딩스 완료
DB 완료
DB금융투자 완료
DB손해보험 완료
DB하이텍 완료
DB하이텍1우 완료
DGB금융지주 완료
DI동일 완료
DL 완료
DL건설 완료
DL우 완료
DL이앤씨 완료
DL이앤씨우 완료
DRB동일 완료
DSR 완료
DSR제강 완료
E1 완료
ESR켄달스퀘어리츠 완료
F&F 완료
F&F홀딩스 완료
GKL 완료
GS 완료
GS건설 완료
GS글로벌 완료
GS리테일 완료
GS우 완료
HDC 완료
HDC아이콘트롤스 완료
HDC현대EP 완료
HDC현대산업개발 완료
HMM 완료
HSD엔진 완료
IHQ 완료
JB금융지주 완료
JW생명과학 완료
JW중외제약 완료
JW중외제약2우B 완료
JW중외제약우 완료
JW홀딩스 완료
KB금융 완료
KCC 완료
KCC글라스 완료
KCTC 완료
KC그린홀딩스 완료
KC코트렐 완료
KEC 완료
KG동부제철 완료
KG동부제철우 완료
KG케미칼 완료
KH 필룩스 완료
KISCO홀딩스 완료
KPX케미칼 완료
KPX홀딩스 완료
KR모터스 완료
KSS해운 완료
KT 완료
KT&G 완료
KTB투자증권 완료
KTcs 완료
KTis 완료
LF 완료
LG 완료
LG디스플레이 완료
LG생활건강 완료
LG생활건강우 완료
LG우 완료
LG유플러스 완료
LG이노텍 완료
LG전자 완료
LG전자우 완료
LG헬로비전 완료
LG화학 완료
LG화학우 완료
LIG넥스원 완료
LS 완료
LS ELECTRIC 완료
LS네트웍스 완료
LS전선아시아 완료
LX인터내셔널 완료
LX하우시스 완료
LX하우시스우 완료
LX홀딩스 완료
LX홀딩스1우 완료
MH에탄올 완료
NAVER 완료
NHN 완료
NH투자증권 완료
NH투자증권우 완료
NH프라임리츠 완료
NICE 완료
NI스틸 완료
NPC 완료
NPC우 완료
OCI 완료
PI첨단소재 완료
POSCO 완료
S-Oil 완료
S-Oil우 완료
SBS 완료
SBS미디어홀딩스 완료
SGC에너지 완료
SG글로벌 완료
SG세계물산 완료
SHD 완료
SH에너지화학 완료
SIMPAC 완료
SJM 완료
SJM홀딩스 완료
SK 완료
SKC 완료
SK가스 완료
SK네트웍스 완료
SK네트웍스우 완료
SK디스커버리 완료
SK디스커버리우 완료
SK디앤디 완료
SK렌터카 완료
SK바이오사이언스 완료
SK바이오팜 완료
SK아이이테크놀로지 완료
SK우 완료
SK이노베이션 완료
SK이노베이션우 완료
SK증권 완료
SK증권우 완료
SK케미칼 완료
SK케미칼우 완료
SK텔레콤 완료
SK하이닉스 완료
SNT모티브 완료
SNT에너지 완료
SNT중공업 완료
SNT홀딩스 완료
SPC삼립 완료
STX 완료
STX엔진 완료
STX중공업 완료
SUN&L 완료
TBH글로벌 완료
TCC스틸 완료
TYM 완료
WISCOM 완료
YG PLUS 완료
가온전선 완료
강남제비스코 완료
강원랜드 완료
갤럭시아에스엠 완료
경농 완료
경동나비엔 완료
경동도시가스 완료
경동인베스트 완료
경방 완료
경보제약 완료
경인양행 완료
경인전자 완료
계룡건설 완료
계양전기 완료
계양전기우 완료
고려산업 완료
고려아연 완료
고려제강 완료
광동제약 완료
광명전기 완료
광전자 완료
광주신세계 완료
교보증권 완료
교촌에프앤비 완료
국도화학 완료
국동 완료
국보 완료
국제약품 완료
그린케미칼 완료
극동유화 완료
금강공업 완료
금강공업우 완료
금비 완료
금양 완료
금호건설 완료
금호건설우 완료
금호석유 완료
금호석유우 완료
금호에이치티 완료
금호전기 완료
금호타이어 완료
기신정기 완료
기아 완료
기업은행 완료
까뮤이앤씨 완료
깨끗한나라 완료
깨끗한나라우 완료
남광토건 완료
남선알미늄 완료
남선알미우 완료
남성 완료
남양유업 완료
남양유업우 완료
남해화학 완료
넥센 완료
넥센우 완료
넥센타이어 완료
넥센타이어1우B 완료
넥스트사이언스 완료
넷마블 완료
노루페인트 완료
노루페인트우 완료
노루홀딩스 완료
노루홀딩스우 완료
녹십자 완료
녹십자홀딩스 완료
녹십자홀딩스2우 완료
농심 완료
농심홀딩스 완료
다스코 완료
다우기술 완료
다이나믹디자인 완료
대교 완료
대교우B 완료
대구백화점 완료
대덕 완료
대덕1우 완료
대덕전자 완료
대덕전자1우 완료
대동 완료
대동전자 완료
대림B&Co 완료
대림통상 완료
대상 완료
대상우 완료
대상홀딩스 완료
대상홀딩스우 완료
대성산업 완료
대성에너지 완료
대성홀딩스 완료
대신증권 완료
대신증권2우B 완료
대신증권우 완료
대양금속 완료
대영포장 완료
대우건설 완료
대우부품 완료
대우조선해양 완료
대웅 완료
대웅제약 완료
대원강업 완료
대원전선 완료
대원전선우 완료
대원제약 완료
대원화성 완료
대유에이텍 완료
대유플러스 완료
대창 완료
대창단조 완료
대한방직 완료
대한유화 완료
대한전선 완료
대한제강 완료
대한제당 완료
대한제당우 완료
대한제분 완료
대한항공 완료
대한항공우 완료
대한해운 완료
대한화섬 완료
대현 완료
대호에이엘 완료
더블유게임즈 완료
더존비즈온 완료
덕성 완료
덕성우 완료
덕양산업 완료
덴티움 완료
도화엔지니어링 완료
동국제강 완료
동남합성 완료
동방 완료
동방아그로 완료
동부건설 완료
동부건설우 완료
동서 완료
동성제약 완료
동성케미컬 완료
동아쏘시오홀딩스 완료
동아에스티 완료
동아지질 완료
동아타이어 완료
동양 완료
동양2우B 완료
동양3우B 완료
동양고속 완료
동양생명 완료
동양우 완료
동양철관 완료
동양피스톤 완료
동원F&B 완료
동원금속 완료
동원산업 완료
동원수산 완료
동원시스템즈 완료
동원시스템즈우 완료
동일고무벨트 완료
동일산업 완료
동일제강 완료
동화약품 완료
두산 완료
두산2우B 완료
두산밥캣 완료
두산우 완료
두산인프라코어 완료
두산중공업 완료
두산퓨얼셀 완료
두산퓨얼셀1우 완료
두산퓨얼셀2우B 완료
두올 완료
드림텍 완료
디씨엠 완료
디아이 완료
디아이씨 완료
디앤디플랫폼리츠 완료
디와이 완료
디와이파워 완료
디티알오토모티브 완료
디피씨 완료
락앤락 완료
롯데관광개발 완료
롯데렌탈 완료
롯데리츠 완료
롯데손해보험 완료
롯데쇼핑 완료
롯데정밀화학 완료
롯데정보통신 완료
롯데제과 완료
롯데지주 완료
롯데지주우 완료
롯데칠성 완료
롯데칠성우 완료
롯데케미칼 완료
롯데푸드 완료
롯데하이마트 완료
마니커 완료
만도 완료
만호제강 완료
맥쿼리인프라 완료
맵스리얼티1 완료
메리츠금융지주 완료
메리츠증권 완료
메리츠화재 완료
메타랩스 완료
명문제약 완료
명신산업 완료
모나리자 완료
모나미 완료
모두투어리츠 완료
모토닉 완료
무림P&P 완료
무림페이퍼 완료
무학 완료
문배철강 완료
미래산업 완료
미래아이앤지 완료
미래에셋맵스리츠 완료
미래에셋생명 완료
미래에셋증권 완료
미래에셋증권2우B 완료
미래에셋증권우 완료
미원상사 완료
미원에스씨 완료
미원홀딩스 완료
미원화학 완료
미창석유 완료
바다로19호 완료
방림 완료
백광산업 완료
백산 완료
범양건영 완료
베트남개발1 완료
벽산 완료
보락 완료
보령제약 완료
보해양조 완료
부광약품 완료
부국증권 완료
부국증권우 완료
부국철강 완료
부산가스 완료
부산산업 완료
부산주공 완료
비비안 완료
비상교육 완료
비케이탑스 완료
빙그레 완료
사조대림 완료
사조동아원 완료
사조산업 완료
사조씨푸드 완료
사조오양 완료
삼부토건 완료
삼성SDI 완료
삼성SDI우 완료
삼성공조 완료
삼성물산 완료
삼성물산우B 완료
삼성바이오로직스 완료
삼성생명 완료
삼성에스디에스 완료
삼성엔지니어링 완료
삼성전기 완료
삼성전기우 완료
삼성전자 완료
삼성전자우 완료
삼성제약 완료
삼성중공업 완료
삼성중공우 완료
삼성증권 완료
삼성출판사 완료
삼성카드 완료
삼성화재 완료
삼성화재우 완료
삼아알미늄 완료
삼양사 완료
삼양사우 완료
삼양식품 완료
삼양통상 완료
삼양패키징 완료
삼양홀딩스 완료
삼양홀딩스우 완료
삼영무역 완료
삼영전자 완료
삼영화학 완료
삼원강재 완료
삼익THK 완료
삼익악기 완료
삼일씨엔에스 완료
삼일제약 완료
삼정펄프 완료
삼진제약 완료
삼천리 완료
삼호개발 완료
삼화왕관 완료
삼화전기 완료
삼화전자 완료
삼화콘덴서 완료
삼화페인트 완료
상상인증권 완료
상신브레이크 완료
새론오토모티브 완료
샘표 완료
샘표식품 완료
서연 완료
서연이화 완료
서울가스 완료
서울식품 완료
서울식품우 완료
서원 완료
서흥 완료
선도전기 완료
선진 완료
성문전자 완료
성문전자우 완료
성보화학 완료
성신양회 완료
성신양회우 완료
성안 완료
성창기업지주 완료
세기상사 완료
세방 완료
세방우 완료
세방전지 완료
세아베스틸 완료
세아제강 완료
세아제강지주 완료
세아특수강 완료
세아홀딩스 완료
세우글로벌 완료
세원이앤씨 완료
세원정공 완료
세이브존I&C 완료
세종공업 완료
세진중공업 완료
세하 완료
센트랄모텍 완료
센트럴인사이트 완료
셀트리온 완료
솔루스첨단소재 완료
솔루스첨단소재1우 완료
솔루스첨단소재2우B 완료
솔루엠 완료
송원산업 완료
수산중공업 완료
스카이라이프 완료
시디즈 완료
신대양제지 완료
신도리코 완료
신라교역 완료
신성이엔지 완료
신성통상 완료
신세계 완료
신세계 I&C 완료
신세계건설 완료
신세계인터내셔날 완료
신세계푸드 완료
신송홀딩스 완료
신영와코루 완료
신영증권 완료
신영증권우 완료
신원 완료
신원우 완료
신일전자 완료
신풍제약 완료
신풍제약우 완료
신풍제지 완료
신한알파리츠 완료
신한지주 완료
신흥 완료
쌍방울 완료
쌍용C&E 완료
쌍용차 완료
써니전자 완료
쎌마테라퓨틱스 완료
씨아이테크 완료
씨에스윈드 완료
아남전자 완료
아모레G 완료
아모레G3우(전환) 완료
아모레G우 완료
아모레퍼시픽 완료
아모레퍼시픽우 완료
아세아 완료
아세아시멘트 완료
아세아제지 완료
아센디오 완료
아시아나IDT 완료
아시아나항공 완료
아이마켓코리아 완료
아이에스동서 완료
아주스틸 완료
알루코 완료
애경산업 완료
애경유화 완료
에넥스 완료
에스디바이오센서 완료
에스엘 완료
에스원 완료
에쓰씨엔지니어링 완료
에어부산 완료
에이리츠 완료
에이블씨엔씨 완료
에이엔피 완료
에이프로젠 MED 완료
에이프로젠제약 완료
에이플러스에셋 완료
엔씨소프트 완료
엔에스쇼핑 완료
엔에이치스팩19호 완료
엔케이 완료
엔케이물산 완료
엘브이엠씨홀딩스 완료
엠씨넥스 완료
영보화학 완료
영원무역 완료
영원무역홀딩스 완료
영진약품 완료
영풍 완료
영풍제지 완료
영화금속 완료
영흥 완료
예스코홀딩스 완료
오뚜기 완료
오리엔트바이오 완료
오리온 완료
오리온홀딩스 완료
와이투솔루션 완료
용평리조트 완료
우리금융지주 완료
우리들휴브레인 완료
우리종금 완료
우성사료 완료
우신시스템 완료
우진 완료
우진아이엔에스 완료
우진플라임 완료
웅진 완료
웅진씽크빅 완료
원림 완료
웰바이오텍 완료
윌비스 완료
유나이티드제약 완료
유니드 완료
유니온 완료
유니온머티리얼 완료
유니켐 완료
유니퀘스트 완료
유성기업 완료
유수홀딩스 완료
유안타증권 완료
유안타증권우 완료
유엔젤 완료
유유제약 완료
유유제약1우 완료
유유제약2우B 완료
유진투자증권 완료
유한양행 완료
유한양행우 완료
유화증권 완료
유화증권우 완료
율촌화학 완료
이건산업 완료
이구산업 완료
이노션 완료
이리츠코크렙 완료
이마트 완료
이수페타시스 완료
이수화학 완료
이스타코 완료
이아이디 완료
이엔플러스 완료
이연제약 완료
이월드 완료
이지스레지던스리츠 완료
이지스밸류리츠 완료
이화산업 완료
인디에프 완료
인바이오젠 완료
인스코비 완료
인지컨트롤스 완료
인천도시가스 완료
인터지스 완료
인팩 완료
일동제약 완료
일동홀딩스 완료
일성건설 완료
일성신약 완료
일신방직 완료
일신석재 완료
일양약품 완료
일양약품우 완료
일정실업 완료
일진다이아 완료
일진디스플 완료
일진머티리얼즈 완료
일진전기 완료
일진홀딩스 완료
잇츠한불 완료
자이에스앤디 완료
자화전자 완료
전방 완료
제이알글로벌리츠 완료
제이에스코퍼레이션 완료
제이준코스메틱 완료
제이콘텐트리 완료
제일기획 완료
제일약품 완료
제일연마 완료
제일파마홀딩스 완료
제주은행 완료
제주항공 완료
조광페인트 완료
조광피혁 완료
조비 완료
조선내화 완료
조선선재 완료
조일알미늄 완료
조흥 완료
종근당 완료
종근당바이오 완료
종근당홀딩스 완료
주연테크 완료
지누스 완료
지엠비코리아 완료
지역난방공사 완료
지코 완료
지투알 완료
진도 완료
진양산업 완료
진양폴리 완료
진양홀딩스 완료
진양화학 완료
진에어 완료
진원생명과학 완료
진흥기업 완료
진흥기업2우B 완료
진흥기업우B 완료
참엔지니어링 완료
천일고속 완료
체시스 완료
카카오 완료
카카오뱅크 완료
카프로 완료
컨버즈 완료
케이비아이동국실업 완료
케이씨 완료
케이씨텍 완료
케이탑리츠 완료
코람코에너지리츠 완료
코리아써우 완료
코리아써키트 완료
코리아써키트2우B 완료
코리안리 완료
코스맥스 완료
코스맥스비티아이 완료
코스모신소재 완료
코스모화학 완료
코아스 완료
코오롱 완료
코오롱글로벌 완료
코오롱글로벌우 완료
코오롱머티리얼 완료
코오롱우 완료
코오롱인더 완료
코오롱인더우 완료
코오롱플라스틱 완료
코웨이 완료
콤텍시스템 완료
쿠쿠홀딩스 완료
쿠쿠홈시스 완료
큐로 완료
크라운제과 완료
크라운제과우 완료
크라운해태홀딩스 완료
크라운해태홀딩스우 완료
크래프톤 완료
키다리스튜디오 완료
키움증권 완료
태경비케이 완료
태경산업 완료
태경케미컬 완료
태광산업 완료
태림포장 완료
태양금속 완료
태양금속우 완료
태영건설 완료
태영건설우 완료
태원물산 완료
태평양물산 완료
테이팩스 완료
텔코웨어 완료
토니모리 완료
티에이치엔 완료
티와이홀딩스 완료
티와이홀딩스우 완료
티웨이항공 완료
티웨이홀딩스 완료
파미셀 완료
팜스코 완료
팜젠사이언스 완료
팬오션 완료
퍼스텍 완료
퍼시스 완료
페이퍼코리아 완료
평화산업 완료
평화홀딩스 완료
포스코강판 완료
포스코인터내셔널 완료
포스코케미칼 완료
폴루스바이오팜 완료
풀무원 완료
풍산 완료
풍산홀딩스 완료
프레스티지바이오파마 완료
하나금융지주 완료
하나제약 완료
하나투어 완료
하이골드12호 완료
하이골드3호 완료
하이브 완료
하이스틸 완료
하이트론 완료
하이트진로 완료
하이트진로2우B 완료
하이트진로홀딩스 완료
하이트진로홀딩스우 완료
한국ANKOR유전 완료
한국가스공사 완료
한국공항 완료
한국금융지주 완료
한국금융지주우 완료
한국내화 완료
한국단자 완료
한국석유 완료
한국수출포장 완료
한국쉘석유 완료
한국앤컴퍼니 완료
한국자산신탁 완료
한국전력 완료
한국전자홀딩스 완료
한국조선해양 완료
한국종합기술 완료
한국주강 완료
한국주철관 완료
한국철강 완료
한국카본 완료
한국콜마 완료
한국콜마홀딩스 완료
한국타이어앤테크놀로지 완료
한국토지신탁 완료
한국특강 완료
한국패러랠 완료
한국프랜지 완료
한국항공우주 완료
한국화장품 완료
한국화장품제조 완료
한농화성 완료
한독 완료
한라 완료
한라홀딩스 완료
한미글로벌 완료
한미반도체 완료
한미사이언스 완료
한미약품 완료
한샘 완료
한섬 완료
한성기업 완료
한세실업 완료
한세엠케이 완료
한세예스24홀딩스 완료
한솔PNS 완료
한솔로지스틱스 완료
한솔제지 완료
한솔케미칼 완료
한솔테크닉스 완료
한솔홀딩스 완료
한솔홈데코 완료
한신공영 완료
한신기계 완료
한양증권 완료
한양증권우 완료
한온시스템 완료
한올바이오파마 완료
한익스프레스 완료
한일시멘트 완료
한일철강 완료
한일현대시멘트 완료
한일홀딩스 완료
한전KPS 완료
한전기술 완료
한전산업 완료
한진 완료
한진중공업 완료
한진중공업홀딩스 완료
한진칼 완료
한진칼우 완료
한창 완료
한창제지 완료
한컴라이프케어 완료
한화 완료
한화3우B 완료
한화생명 완료
한화손해보험 완료
한화솔루션 완료
한화솔루션우 완료
한화시스템 완료
한화에어로스페이스 완료
한화우 완료
한화투자증권 완료
한화투자증권우 완료
해성디에스 완료
해태제과식품 완료
핸즈코퍼레이션 완료
현대건설 완료
현대건설기계 완료
현대건설우 완료
현대그린푸드 완료
현대글로비스 완료
현대로템 완료
현대리바트 완료
현대모비스 완료
현대미포조선 완료
현대백화점 완료
현대비앤지스틸 완료
현대비앤지스틸우 완료
현대약품 완료
현대에너지솔루션 완료
현대엘리베이 완료
현대오토에버 완료
현대위아 완료
현대일렉트릭 완료
현대제철 완료
현대중공업지주 완료
현대차 완료
현대차2우B 완료
현대차3우B 완료
현대차우 완료
현대차증권 완료
현대코퍼레이션 완료
현대코퍼레이션홀딩스 완료
현대퓨처넷 완료
현대해상 완료
현대홈쇼핑 완료
형지엘리트 완료
혜인 완료
호전실업 완료
호텔신라 완료
호텔신라우 완료
화성산업 완료
화승알앤에이 완료
화승엔터프라이즈 완료
화승인더 완료
화승코퍼레이션 완료
화신 완료
화인베스틸 완료
화천기계 완료
화천기공 완료
환인제약 완료
황금에스티 완료
효성 완료
효성ITX 완료
효성중공업 완료
효성첨단소재 완료
효성티앤씨 완료
효성화학 완료
후성 완료
휠라홀딩스 완료
휴니드 완료
휴비스 완료
휴스틸 완료
휴켐스 완료
흥국화재 완료

흥국화재2우B 완료
흥국화재우 완료
흥아해운 완료

             날짜     시가     고가     저가     종가     거래량    종목코드      종목명
0    2021-08-30   5850   5970   5770   5920   68587  095570   AJ네트웍스
1    2021-08-31   5930   5930   5810   5910   43604  095570   AJ네트웍스
2    2021-08-30  26350  27400  26100  27300   56037  006840    AK홀딩스
3    2021-08-31  27450  27700  27150  27500   37711  006840    AK홀딩스
4    2021-08-30   6320   6410   6300   6360  232110  027410      BGF
...         ...    ...    ...    ...    ...     ...     ...      ...
1865 2021-08-31  27800  28150  27500  27500    1788  000547  흥국화재2우B
1866 2021-08-30  10200  10200  10000  10050    1760  000545    흥국화재우
1867 2021-08-31  10150  10150   9800   9800    5044  000545    흥국화재우
1868 2021-08-30      0      0      0   1035       0  003280     흥아해운
1869 2021-08-31      0      0      0   1035       0  003280     흥아해운

[1870 rows x 8 columns]

In [23]:
final.to_csv('save.csv')

# 5. 가격변동조회하기

In [25]:
df = stock.get_market_price_change_by_ticker(fromdate="20210829", todate="20210831")
df.head()

            종목명      시가      종가   변동폭   등락률      거래량         거래대금
티커
095570   AJ네트웍스    5800    5910   110  1.90   112197    655250960
006840    AK홀딩스   26300   27500  1200  4.56    93783   2536488850
027410      BGF    6230    6330   100  1.61   384163   2440097800
282330   BGF리테일  177000  178500  1500  0.85    67229  11998217000
138930  BNK금융지주    7910    7760  -150 -1.90  2339553  18137529620

# 6. 일자별 DIV/BPS/PER/EPS조회

In [26]:
df = stock.get_market_fundamental_by_ticker(date="20210831")
df.head()

          BPS        PER       PBR   EPS       DIV   DPS
티커
095570   6089   0.000000  0.970215     0  3.550781   210
006840  50471   0.000000  0.540039     0  1.450195   400
027410  15781  22.203125  0.399902   285  1.740234   110
282330  40317  25.125000  4.429688  7103  1.339844  2400
138930  26781   5.179688  0.290039  1498  4.121094   320

In [27]:
df = stock.get_market_fundamental_by_date(fromdate="20210820", todate="20210831", ticker="095570")
df.head()

             BPS  PER   PBR  EPS   DIV  DPS
날짜
2021-08-20  6089  0.0  0.93    0  3.69  210
2021-08-23  6089  0.0  0.95    0  3.62  210
2021-08-24  6089  0.0  0.98    0  3.53  210
2021-08-25  6089  0.0  0.97    0  3.54  210
2021-08-26  6089  0.0  0.96    0  3.60  210

# 7. 시가총액/거래량/거래대금/주식수

In [29]:
stock.get_market_cap_by_date(fromdate="20210820", todate="20210831", ticker="095570")

                    시가총액     거래량        거래대금     상장주식수
날짜
2021-08-20  266418858550  194895  1105574780  46822295
2021-08-23  271569311000   62833   362448480  46822295
2021-08-24  278592655250   52377   307861730  46822295
2021-08-25  277656209350   38127   225087270  46822295
2021-08-26  272973979850  114657   663135960  46822295
2021-08-27  271569311000   41279   239587750  46822295
2021-08-30  277187986400   68587   399761400  46822295
2021-08-31  276719763450   43610   255489560  46822295

# 7. 투자자별 매도/매수

In [31]:
stock.get_market_trading_value_by_investor(fromdate="20210820", todate="20210831", ticker ="095570")

               매도          매수        순매수
투자자구분
금융투자    174901300   108812050  -66089250
보험         982680        5700    -976980
투신       78765050           0  -78765050
사모      143889930           0 -143889930
은행              0           0          0
기타금융            0           0          0
연기금 등     3642580    19134760   15492180
기관합계    402181540   127952510 -274229030
기타법인       992470   157043960  156051490
개인     2671862020  2857502540  185640520
외국인     483910900   413807700  -70103200
기타외국인           0     2640220    2640220
전체     3558946930  3558946930          0

In [32]:
stock.get_market_trading_volume_by_investor(fromdate="20210820", todate="20210831", ticker ="095570")

           매도      매수    순매수
투자자구분
금융투자    30054   18768 -11286
보험        167       1   -166
투신      13900       0 -13900
사모      24811       0 -24811
은행          0       0      0
기타금융        0       0      0
연기금 등     635    3279   2644
기관합계    69567   22048 -47519
기타법인      175   26911  26736
개인     463336  495370  32034
외국인     83287   71577 -11710
기타외국인       0     459    459
전체     616365  616365      0

# 8. 기간별 거래량/거래대금

In [35]:
stock.get_market_net_purchases_of_equities_by_ticker(fromdate="20210831", todate="20210831")

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금
티커,,,,,,,
051910,LG화학,107137,263893,156756,81390683000,200200374000,118809691000
017670,SK텔레콤,179165,556191,377026,53777702500,165767423500,111989721000
003580,넥스트사이언스,3850952,4701253,850301,110077420400,134356031200,24278610800
000990,DB하이텍,405000,618838,213838,23936150100,36503451100,12567301000
089860,롯데렌탈,346145,502868,156723,17247281350,25026382200,7779100850
...,...,...,...,...,...,...,...
035420,NAVER,271884,99329,-172555,118019697500,42985770500,-75033927000
302440,SK바이오사이언스,2134320,1854830,-279490,668598924000,581003690000,-87595234000
000660,SK하이닉스,2032350,981245,-1051105,213187594500,102404710000,-110782884500
035720,카카오,2006343,956714,-1049629,307820952500,146574453000,-161246499500
005930,삼성전자,7755103,4931696,-2823407,587082073500,372146224000,-214935849500

# 9. 8월 30일 기준 전체 종목코드에 대해 모든 정보 합치기

In [64]:
df_ohlcv = stock.get_market_ohlcv_by_ticker('20210831',market='KOSPI')
df_fundamental = stock.get_market_fundamental_by_ticker('20210831',market='KOSPI')
df_cap = stock.get_market_cap_by_ticker('20210831', market = 'KOSPI')
df_change_yes = stock.get_market_price_change_by_ticker(fromdate = '20210830',todate = '20210831', market='KOSPI')
df_net_purchase = stock.get_market_net_purchases_of_equities_by_ticker(fromdate = '20210831',todate = '20210831', market='KOSPI')

In [78]:
df_list = [df_ohlcv, df_fundamental,df_cap,df_change_yes]

In [79]:
final_df = df_net_purchase

In [80]:
for df in df_list:
    col = list(set(df.columns)-set(final_df.columns))
    final_df = pd.merge(final_df, df[col],how='inner', left_on ='티커', right_on='티커')

In [84]:
final_df.columns

Index(['종목명', '매도거래량', '매수거래량', '순매수거래량', '매도거래대금', '매수거래대금', '순매수거래대금', '고가',
       '저가', '거래량', '거래대금', '종가', '시가', '등락률', 'PER', 'DPS', 'BPS', 'EPS',
       'DIV', 'PBR', '시가총액', '상장주식수', '변동폭'],
      dtype='object')

In [83]:
final_df

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,고가,저가,거래량,...,등락률,PER,DPS,BPS,EPS,DIV,PBR,시가총액,상장주식수,변동폭
티커,,,,,,,,,,,,,,,,,,,,,
051910,LG화학,107137,263893,156756,81390683000,200200374000,118809691000,777000,752000,577128,...,-1.56,113.687500,10000,230440,6666,1.320312,3.289062,53508995994000,70592343,-25000
017670,SK텔레콤,179165,556191,377026,53777702500,165767423500,111989721000,305500,289500,3137916,...,2.23,14.562500,10000,294058,20463,3.359375,1.009766,21473922614000,72060143,10000
003580,넥스트사이언스,3850952,4701253,850301,110077420400,134356031200,24278610800,31450,27100,5164283,...,-5.54,0.000000,0,2013,0,0.000000,14.406250,1208309273000,41665837,2450
000990,DB하이텍,405000,618838,213838,23936150100,36503451100,12567301000,60000,58200,758772,...,-0.17,15.648438,350,17851,3822,0.589844,3.349609,2655035562400,44398588,-400
089860,롯데렌탈,346145,502868,156723,17247281350,25026382200,7779100850,50700,49450,517384,...,-1.49,31.718750,300,23931,1562,0.609863,2.070312,1815217821650,36634063,-750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
035420,NAVER,271884,99329,-172555,118019697500,42985770500,-75033927000,439500,427000,768823,...,2.57,63.843750,402,44850,6877,0.090027,9.789062,72111630405000,164263395,19000
302440,SK바이오사이언스,2134320,1854830,-279490,668598924000,581003690000,-87595234000,325000,298500,3186015,...,4.67,584.000000,0,4310,537,0.000000,72.750000,23982750000000,76500000,24000
000660,SK하이닉스,2032350,981245,-1051105,213187594500,102404710000,-110782884500,106500,102000,4979276,...,2.90,15.320312,1170,71275,6952,1.099609,1.490234,77532251872500,728002365,3000
035720,카카오,2006343,956714,-1049629,307820952500,146574453000,-161246499500,155000,151000,3078357,...,2.31,420.000000,30,14286,369,0.020004,10.851562,68929606700000,444707140,5000
005930,삼성전자,7755103,4931696,-2823407,587082073500,372146224000,-214935849500,76700,74300,24630370,...,2.82,19.968750,2994,39406,3841,3.900391,1.950195,457882321585000,5969782550,2400